:root {
  /* Typography */
  --fs-ms: 14px;
  --fs-md: 16px;
  --fw-light: 400;
  --fw-normal: 600;
  --fw-bold: 700;
  --color-beige: #ffd8a5;
  --color-white: #ffffff;
  --color-borwn: #964b0089;
  --color-gray: #eeeeee;
  --color-dark-gray: #d2d2d2;
  --color-light-gray: #f6f6f6;
  --color-black: #000;
  --transparent-hover: rgba(0, 0, 0, 0.12);
  --transparent-active: rgba(0, 0, 0, 0.08);
  --transparent-click: rgba(0, 0, 0, 0.2);
  --transparent-default: rgba(0, 0, 0, 0);
  --radius: 7px;
}
